doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title MVC JAVASCRIPT
    link(rel="stylesheet", href="./css/index.css")
  body 
    main.mainContainer 
      header.headerContainer 
        h2.h2Container SEARCH
      section.sectionContainer 
        form
          input(type="text" placeholder="검색어를 입력하세요.")
          button(type="reset").buttonReset x
    script(type="module" src="./js/app.js")